:root {
  --background: #f0f5f4;
  --background-dark: #102733;
}

body, html {
  font-family: 'League Spartan', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.15;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html::before, html::after {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--background);
  transition: all .35s ease-in-out;
  z-index: 0;
}

html.light::after {
  background: var(--background);
  transform: translateX(0);
}

html.light::before {
  transform: translateX(-100%);
}

html.dark::before {
  background: var(--background-dark);
  transform: translateX(0);
}

html.dark::after {
  transform: translateX(100%);
}
